.articles {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.articles-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}
.articles-filter {
  color: var(--title-color);
  cursor: pointer;
  font-weight: var(--font-medium);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}
.articles-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 1rem;
  padding-top: var(--mb-1);
}

/* active work */
.articles-filter-active {
  background-color: var(--title-color);
  color: var(--container-color);
}

@media screen and (max-width: 992px) {
  .articles-container {
    grid-template-columns: repeat(2, 240px);
    gap: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .articles-container {
    grid-template-columns: repeat(1, 350px);
  }
}
@media screen and (max-width: 350px) {
  .articles-container {
    grid-template-columns: repeat(1, 280px);
  }
}
