.contact-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 3rem;
}
.contact-header {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
  text-align: center;
}
.contact-socials {
  text-align: center;
}
.social-boxs {
  display: grid;
  grid-template-columns: 300px;
  row-gap: 1rem;
  justify-content: center;
}
.social-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 0.75rem;
}

.social-box-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
}
.social-name,
.social-address {
  font-size: var(--small-font-size);
}
.social-name {
  font-weight: var(--font-medium);
}
.social-address {
  margin-bottom: var(--mb-0-75);
}
.Social-button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.social-button-icon {
  font-size: 1rem;
  transition: 0.3s;
}
.Social-button:hover .social-button-icon {
  transform: translateX(0.25rem);
}
.contact-form {
  width: 360px;
}
.contact-form-div {
  position: relative;
  height: 4rem;
  margin-bottom: var(--mb-0-5);
}
.contact-form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
  outline: none;
}
.contact-form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 10;
}
.contact-form-area {
  height: 11rem;
}
.contact-form-area textarea {
  resize: none;
}
@media screen and (max-width: 992px) {
  .contact-container {
    column-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-container {
    grid-template-columns: repeat(1, max-content);
    row-gap: 3rem;
  }
  .contact-form {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .social-boxs {
    grid-template-columns: 250px;
    row-gap: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .contact-form {
    width: 100%;
  }
}
